<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Přidání tlačítka zpět -->
    <!-- Tlačítko se zobrazuje jen pokud jdu z nějaké stránky v APP -->
    <!-- V případě přímoho příchodu na URL, nezobazí nic, pak je nutné nastavit další části tlačítka skrze oficiální dokumentaci -->
    <ion-buttons slot="start">
      <ion-back-button text="Home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ipModel.ip}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ipModel.country_name}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Nějaký popis se vždy hodí -->
  <div class="ion-padding">
    <ion-text>The ip adress is in {{ipModel.city}}, {{ipModel.region}}</ion-text>
  </div>

  <!-- Soupis základních údajů -->
  <ion-list>
    <ion-item>
      <ion-label>Country code:</ion-label>
      <ion-note slot="end">{{ipModel.country_code_iso3}}</ion-note>
    </ion-item>
    <ion-item>
      <!-- Využívají se sloty, skrze rychlejší formátování bez nutnosti dalšího CSS nebo grid systému -->
      <ion-label>Timezone:</ion-label>
      <ion-note slot="end">{{ipModel.timezone}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Is part of EU:</ion-label>
      <!-- jako většina prvků i zde lze aplikovat theming z ionicu -->
      <ion-note slot="end">{{ipModel.in_eu}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Local currency:</ion-label>
      <ion-note slot="end">{{ipModel.currency_name}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
